/*--大家都會用到的功能--*/

body , * {
    font-family: 'Microsoft JhengHei',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

/*---------------NavBar 開始-----------------------*/
.navbar{
	transition: box-shadow .5s,background .5s;
    padding: 0;
}

.navbar.noJum{  
   padding: 0;
   transition: box-shadow .5s,background .5s;
   background: #000000ab;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

/*--logo大小--*/
.navbar .navbar-brand img{
/*     width: 4.5rem; */
    height: 3rem;
/*     border-radius: 100%; */
}

/*按鈕文字顏色與間距*/
.btnColor{
    border-color: #f3f3f3;
    color: #ededed;
}

.btn.btnColor{
    border-color: #f3f3f3;
    color: #ededed;
}

/*navBar向下滑動*/
#mainNav.navbar-scrolled {
    transition: box-shadow .5s,background .5s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background: #efe6de;
/*     background: linear-gradient(45deg, transparent 0% , #efe6de 50% ); */
}


#mainNav.navbar-scrolled .btnColor2{
	color:#e88a56;
}


/*navBar向下滑動的文字顏色*/
.navbar .navbar-nav .nav-change, .navbar .nav-change {
    color: #0D0D0D;
}

/* style="color:peachpuff;" */

/*navBar REGIST的顏色*/
.btnColor2{
    border-color: #f3f3f3;
    color: peachpuff;
}


/*navBar dropdown 開始*/

/*--navBar dropdown的文字顏色--*/
.nav-item .dropdown-menu a{
    color : #f8f9fa;
    letter-spacing:2px;
    line-height: 0px; 
    font-weight: 500; 
    padding: 35px 20px;        
}


.navbar-nav .nav-item .dropdown-menu a:hover,
.navbar-nav .nav-item .dropdown button:hover {
    transition: all .5s;
    color: #F28705;
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: transparent;
    border-radius: .25rem;
    border-color: transparent;
    margin-top: 0px;
}

.navbar-nav .nav-item .dropdown button {
   border: 0;
   padding: 0;
   margin: 15px;
   height: 100%;
   font-size: 1.3rem;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item{
    font-size: 16px;
    padding: 1rem;
    position: relative;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: transparent;
}

/*-------------navBar dropdown效果 結束--------------------------------*/

/*---------------NavBar 結束-----------------------*/

/*---------------向下按鈕 開始-----------------------*/
#downbtn{
    display: block;
    height: 5vh;
    text-align: center;
    padding-top: 5px;
    color: #eeeeee; 
    background-color: rgba(127, 140, 141,0.3)
}

#downbtn img{
    width: 23px;
    height: 20px;
}

/*---------------向下按鈕 結束-----------------------*/

/*---------------block 開始--------------------*/
.block-bg {  
    background: rgba(255,255,255);
}

.block img{
    box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
    width: 100%;
    /* height: 750px; */
    border-radius: 50%
}

/*---------------block 結束--------------------*/

/*--------------- 統一按鈕 ---------------- */
.indexBtnColor{
	border: 1px solid;
	background: #937c6f;
	color: #FFFFFF;
	border-radius:.25rem;
}
	.indexBtnColor:hover{
		border: 1px solid;
		background: #FFFFFF;
		color: #937c6f;
	} 
	
.jumbotron{
	margin-bottom:0;
}